<button class="!rounded-full" mat-stroked-button [color]="selected.size > 0 ? 'primary' : null" type="button"
  #filterMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="filterMenu">
  VTuber
  @if (selected.size > 0) {
  +{{ selected.size }}
  }

  <mat-icon [color]="selected.size > 0 ? 'primary' : null" [class.rotate-180]="filterMenuTrigger.menuOpen" iconPositionEnd
    svgIcon="menu-down" />
</button>
<!-- Replacing with mat-menu for better responsive UI -->
<mat-menu #filterMenu="matMenu" class="max-h-80 mt-2 overflow-y-auto">
  <!-- 
    THIS IS A HACK, TO PREVENT THE MENU CLOSING FOR EVERY
    SINGLE CHILD ELEMENT INSIDE
  -->
  <span (click)="$event.stopPropagation();$event.preventDefault();">
    <div class="sticky text-md top-0 mat-bg-card px-4 pt-2 z-50">
      <div class="flex justify-between">
        <div class="flex w-50 font-bold" i18n="@@filter-by-vtuber">Filter by VTuber</div>
        <div class="w-50" tabindex="0" role="button" class="cursor-pointer" (click)="closeMenu(); clear()" i18n="@@clear">
        Clear
        </div>
      </div>
      <div class="flex justify-start pt-2">
        <mat-form-field class="!py-0 w-full" density="compact" appearance="outline">
          <input type="text" (input)="handleOnSearchChange($event.target!)" matInput [value]="searchText" i18n-placeholder="@@search" placeholder="Search">
          <mat-icon matSuffix svgIcon="search" />
        </mat-form-field>
      </div>
    </div>
    
    <mat-selection-list class="-mat-list-density-2 !p-0" (selectionChange)="onListChange($event)">
      @for (vtb of _vtubers; track vtb) {
      <mat-list-option [value]="vtb" [selected]="selected.has(vtb)">
        <img class="!h-8 !w-8" height="32" width="32" matListItemAvatar [src]="vtb | avatar" />
        {{ vtb | name }}
      </mat-list-option>
      }
    </mat-selection-list>
  </span>
</mat-menu>