<mat-form-field appearance="outline" class="w-full">
  <mat-label i18n="@@currency">Currency</mat-label>

  <mat-select
    [value]="config.currencySetting()"
    (selectionChange)="config.currencySetting.set($event.value)"
  >
    @for (currency of currencies; track currency[0]) {
      <mat-option [value]="currency[0]">
        {{ currency[0] }}
        @if (currency[2]) {
          ({{ currency[2] }})
        }
        -
        {{ currency[1] }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
